{% load static %}


{% if musics %}

<!--
    랜덤 BGM 재생에 사용할 음원 목록.

    화면에는 표시하지 않고
    music_player.js에서 data 속성을 읽어 사용함.
-->
<div
    id="bgm-music-list"
    hidden
>
    {% for music in musics %}

        <div
            class="bgm-music-data"
            data-music-id="{{ music.id }}"
            data-title="{{ music.title }}"
            data-artist="{{ music.artist }}"
            data-src="{% static 'bgm/audio/' %}{{ music.file_name }}"
        ></div>

    {% endfor %}
</div>


<!--
    실제 음악 재생 담당.

    플레이어 UI는 표시하지 않음.
-->
<audio
    id="bgm-audio"
    preload="metadata"
></audio>


<!-- 음원 오류 안내 -->
<p
    id="bgm-error"
    hidden
>
    음악을 불러올 수 없습니다.
</p>

{% endif %}